<component name="libraryTable">
  <library name="springmvc_scope">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-aop-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-aspects-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-beans-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-context-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-core-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-expression-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-jcl-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-web-5.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/springmvc_scope/web/WEB-INF/lib/spring-webmvc-5.2.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>